.add-course-section {
	max-width: 800px;
	height: auto;
	background-color: rgba(30,30,30,.9);
	margin: 11rem auto;
	padding: 1.5rem 1rem 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px double rgb(45,255,255);
	border-radius: 20px;
}

h1 {
	text-align: center;
	font-family: 'Kufam', cursive;
	color: #fff;
}

#courseName, #price, #description {
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.2rem;
	margin: 5px 0;
	padding: 5px;
	border: 1px solid rgb(45,255,255);
	border-radius: 5px;
}

#courseName {
	width: 66%;
}

#price {
	width: 33%;
	margin: 0 0 0 .2rem;
}

#description {
	width: 100%;
}

#addCourseButton {
	display: block;
	width: 300px;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.2rem;
	margin: 5px auto;
	padding: 5px;
	border: 1px solid rgb(45,255,255);
	border-radius: 5px;
	background-color: rgb(0,128,128);
	color: #fff;
}

@media screen and (max-width: 800px) {
	.add-course-section {
		width: 400px;
	}

	#courseName {
		width: 100%;
	}

	#price {
		width: 100%;
		margin: auto;
	}
}



