
.course-section {
	max-width: 1400px;
	min-height: 800px;
	margin: auto;
	padding: 10rem;
	background-color: rgba(30,30,30,.9);
}

#course {
	padding: 0 1rem;
	border: 10px double rgb(0,128,128);
}

hr {
	border-color: rgb(0,128,128);
}

#courseNameLabel,
#descLabel,
#priceLabel,
#courseName,
#description,
#price {
	font-family: 'Hind Siliguri', sans-serif;
	color: #fff;
}

#courseName,
#description,
#price {
	color: rgb(45,255,255);
}

#enrollButton {
	display: block;
	margin: auto;
	width: 400px;
	text-align: center;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.2rem;
	padding: 5px;
	border: 1px solid rgb(45,255,255);
	border-radius: 5px;
	background-color: rgb(0,128,128);
	color: #fff;
}

#titleList {
	font-family: 'Kufam', cursive;
	color: rgb(45,255,255);
	text-align: center;
}
/*design for table */
table {
  	border-collapse: collapse;
  	width: 100%;
  	font-size: 1.1vw;
}

th, td {
  	text-align: left;
  	padding: 8px;
}

td {
	font-family: 'Hind Siliguri', sans-serif;
	color: #bbb;
}

tr:nth-child(even){
	background-color: rgb(75,75,75);
}

th {
	font-family: 'Kufam', cursive;
  	background-color: rgb(0,128,128);
  	color: #fff;
}

@media screen and (max-width: 800px) {
	.course-section {
		padding: 10rem 1rem;
	}
}