#coursesLink {
    background-color: rgb(0,128,128);
}

#coursesLogo,
#linkCourses {
	color: #fff;
}

#coursesSection {
	max-width: 1400px;
	height: auto;
	margin: auto;
	padding: 10rem 1.8rem 12.5rem;
	background-color: rgba(30,30,30,.9);
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

#adminButtons {
	margin: 0 0 2rem;
	width: 100%;
	text-align: center;
}

#addCourseButton {
	width: 4rem;
	height: 4rem;
	line-height: 3.9rem;
	border: 2px solid rgb(0,128,128);
	border-radius: 2rem;
	text-align: center;
	font-size: 2rem;
	color: rgb(45,255,255);
}

.course-section {
	position: relative;
	width: 400px;
	min-height: 300px;
	margin: 1.8rem 0;
	padding: .5rem 1rem 0;
	border: 5px double rgb(45,255,255);
	border-radius: 10px;
}

.course-title {
	font-family: 'Kufam', cursive;
	text-align: center;
	color: #fff;
}

.course-desc {
	font-family: 'Kufam', cursive;
	text-align: justify;
	color: rgb(0,128,128);
	margin: .5rem auto;
}

.price-and-button-section {
	position: absolute;
	bottom: 0;
	left: 1rem;
	right: 1rem;
}

.price {
	font-family: 'Kufam', cursive;
	text-align: center;
	color: #fff;
	margin: .5rem auto;
}

hr {
	border-color: rgb(45,255,255);
}
  
.course-buttons {
	margin: 1rem 0;
	display: flex;
	justify-content: space-between;
}

.course-button {
	width: 30%;
	height: auto;
	color: #fff;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.3rem;
	background-color: rgb(0,128,128);
	text-align: center;
	border-radius: 5px;
}

#selectButton {
	width: 100%;
	height: auto;
	color: #fff;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.3rem;
	background-color: rgb(0,128,128);
	text-align: center;
	border-radius: 5px;
}

.course-button:hover, #selectButton:hover {
	background-color: #fff;
	color: rgb(75,75,75);
}

.archive-button {
	width: 30%;
	height: auto;
	color: #fff;
	font-family: 'Hind Siliguri', sans-serif;
	font-size: 1.3rem;
	background-color: rgb(100,100,100);
	text-align: center;
	border-radius: 5px;
}

.archive-button:hover {
	background-color: #fff;
	color: rgb(75,75,75);
}

@media screen and (max-width: 800px) {
	#coursesSection {
		padding: 5rem 0;
	}
}