#navSession {
	background-color: rgb(0,128,128);
}

#userName {
	color: #fff;
}

.user-menu:nth-child(1) {
	background-color: rgb(75,75,75);
}

.user-menu:nth-child(1) a {
	color: #fff;
}

.profile-section {
	max-width: 1400px;
	min-height: 800px;
	margin: auto;
	padding: 10rem;
	background-color: rgba(30,30,30,.9);
}

#userProfile {
	padding: 0 1rem;
	border: 10px double rgb(0,128,128);
}

hr {
	border-color: rgb(0,128,128);
}

#nameLabel,
#eMailLabel,
#moNoLabel,
#completeName,
#emailAddress,
#mobileNo {
	font-family: 'Hind Siliguri', sans-serif;
	color: #fff;
}

#completeName,
#emailAddress,
#mobileNo {
	color: rgb(45,255,255);
}

.profile-section > h2 {
	font-family: 'Kufam', cursive;
	color: rgb(45,255,255);
	text-align: center;
}

/*design for table */
table {
  	border-collapse: collapse;
  	width: 100%;
  	font-size: 1.1vw;
}

th, td {
  	text-align: left;
  	padding: 8px;
}

td {
	font-family: 'Hind Siliguri', sans-serif;
	color: #bbb;
}

tr:nth-child(even){
	background-color: rgb(75,75,75);
}

th {
	font-family: 'Kufam', cursive;
  	background-color: rgb(0,128,128);
  	color: #fff;
}

@media screen and (max-width: 800px) {
	.profile-section {
		padding: 10rem 1rem;
	}
}